.App {
  font-family: sans-serif;
  text-align: center;
}

.side-bar {
  display: none;
}

.top-bar {
  background-color: lightblue;
}

.corner-piece {
  background-color: darkblue;
}

.main-content {
  background-color: red;
  height: 100%;
  grid-column: span 2;
}

.grid {
  display: grid;
  grid-template: 4rem 1fr/ 4rem 1fr;
  min-height: 100vh;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

@media (min-width: 800px) {
  .side-bar {
    background-color: blue;
    height: 100%;
    grid-row: 2;
    display: initial;
  }

  .main-content {
    grid-column: span 1;
  }
}
